<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="agrobot_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import agrobot_arm urdf file -->
    <xacro:include filename="$(find agrobot_arm_description)/urdf/agrobot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="agrobot_arm.ros2_control.xacro" />


    <xacro:agrobot_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
